<h1>Program Dashboard</h1>
<p>Find me in app/views/programs/index.html.erb</p>

<script type="text/Javascript">
//var view = new App.Views.ListProposal({ el:$("#main")});
App.view = 'IndexProgram';
App.viewparams = { el:$("#main") };
</script>

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#1" data-toggle="tab">Program Dashboard</a></li>
	</ul>
	<div class="tab-pane active" id="1">
		<p>I'm in Section 1.</p>
		<table class="table table-striped"></table>
	</div>
</div>
