<h1>Program Dashboard</h1>
<p>Find me in app/views/programs/index.html.erb</p>

<script type="text/Javascript">
//var view = new App.Views.ListProposal({ el:$("#main")});
App.view = 'IndexProgram';
App.viewparams = { el:$("#main") };
</script>

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#1" data-toggle="tab">Program Dashboard</a></li>
	</ul>
	<div class="tab-pane active" id="1">
		<script type-"text/Javascript">
			$.getJSON("http://rd-dashboard.nitrd.gov/gapi/api/topic?org=CMMI&summ=pge&jsoncallback=?", function(data) {
				var pges = _.pluck(data["data"], "pge").join();
				$.getJSON("http://rd-dashboard.nitrd.gov/gapi/api/prop?legend=nsf_pge&q="+pges+"&jsoncallback=?", function(data){
				console.log(_.pluck(data, "full_label"));
				});
			});
		</script>
		<table class="table table-striped"></table>
	</div>
</div>
